@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youhuiquan:before {
  content: "\e669";
}

.icon-jia:before {
  content: "\f018b";
}

.icon-shezhi:before {
  content: "\f018f";
}

.icon-geren:before {
  content: "\e606";
}

.icon-wenbenbianji:before {
  content: "\e6d5";
}

.icon-dingdan:before {
  content: "\e737";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-pengrenzhong:before {
  content: "\e61a";
}

.icon-zhifuchenggong:before {
  content: "\e6ae";
}

.icon-huncai:before {
  content: "\e614";
}

.icon-caozuo-bianchao:before {
  content: "\e63d";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-dianhua:before {
  content: "\e8bd";
}

.icon-shijian:before {
  content: "\e8c5";
}

.icon-zengjia:before {
  content: "\e889";
}

.icon-shangpin:before {
  content: "\e635";
}

.icon-xiaoxi:before {
  content: "\e62f";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-saoma:before {
  content: "\e712";
}

.icon-jianminshaokao_kaochuan:before {
  content: "\e618";
}

.icon-daocha:before {
  content: "\e60a";
}

.icon-shucai_huabanfuben:before {
  content: "\e668";
}

.icon-sanmingzhi:before {
  content: "\e63c";
}

.icon-yinpin:before {
  content: "\e61b";
}

.icon-ditu_dingwei_o:before {
  content: "\ebbb";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-gongdanqueren:before {
  content: "\ec36";
}

.icon-quxiao:before {
  content: "\e627";
}

.icon-weixinzhifu:before {
  content: "\e689";
}

.icon-paiduishu:before {
  content: "\e765";
}

.icon-yue:before {
  content: "\e69e";
}

.icon-paobu:before {
  content: "\e67d";
}

.icon-shangcheng:before {
  content: "\e60c";
}

.icon-qihang:before {
  content: "\e61c";
}

.icon-tangshi:before {
  content: "\e645";
}

.icon-a-zhifuqianbaodaizhifu:before {
  content: "\e63f";
}

.icon-a-VIPhuiyuanhuiyuanka:before {
  content: "\e643";
}

.icon-huo1:before {
  content: "\e662";
}

