@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1668425000333') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vip1:before {
  content: "\e6bf";
}

.icon-vip2:before {
  content: "\e6c0";
}

.icon-vip3:before {
  content: "\e6c1";
}

